h1 {
  text-align: center;
  padding: 1rem 0;
}

.navigation {
  display: flex;
  padding-left: 3rem;
  gap: 1rem;
}

li {
  padding: 0.3rem 2rem;
  &:hover {
    color: rgb(167, 167, 167);
    border-radius: 20px;
  }
}
.nav-active {
  background-color: $color2;
  border-radius: 20px;
}
